{% extends '_base.html' %}

{% block main %}

<div class="b-confirmation">
  <div class="b-top-section">
    <div class="row">
      <div class="large-10 large-centered column">
        <h1>Request Sent</h1>
      </div>
    </div>
  </div>
  <div class="b-page-section">
    <div class="row">
      <div class="large-8 large-centered columns">
        <h3>Thank you for your request. We will try to respond as soon as possible.</h3>
        <a class="b-button" href="./">Back to the Homepage <i class="material-icons">arrow_forward</i></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
