{% extends '_base.html' %}
{% block main %}
<div id="b-homepage">

  <div class="b-top-section" style="background-image: url(./img/banners/ddcj-index.jpg)">
    <div class="row expanded">
        <div class="e-shade"></div>
        <hgroup class="e-titles">
            <h1 class="e-main-title">Data Driven Criminal Justice</h1>
            <h3 class="e-tagline">Surveys of the availability of and demand for data and data sharing among administrative agencies and between researchers and public institutions.</h3>
        </hgroup>
    </div>
  </div>




  <div class="b-page-section">
    <div class="row">
      <div class="large-10 large-offset-1 columns">
        <p class='b-description'>The GovLab is leading a project, funded by the John and Laura Arnold Foundation, and in close collaboration with the Office of the U.S. Chief Data Scientist at the White House, to analyze and document how data flows through the criminal justice system. The aim is to identify policy, legal, and cultural barriers to effective data sharing among and use by agencies and between agencies and researchers.</p>
        <p class='b-description'>As part of this work, the GovLab together with partners like the Justice Management Institute, are conducting a series of ongoing surveys: 1) Aimed at criminal justice practitioners working in administrative agencies and designed to assess how practitioners use data today to uncover new opportunities for using data tomorrow; 2) Designed to assess public officials’ capacity for using data in order to determine the need for greater skill-building and training; 3) Targeted at empirical criminal justice researchers to learn whether and if they have access to the data needed to develop reforms and innovations.</p>
      </div>
    </div>
  </div>

  <header><h2 class="e-imagine-header"><strong>Why These Surveys?</strong></h2></header>

  <div class="b-slider slick m-imagine m-white">
      <section id="slide-id" class="b-slide m-imagine m-white">
          <div class="row e-content">
              <div class="large-8 large-centered columns">
                  <h3 class="e-question e-imagine"><strong>Imagine</strong> if we had data from one individual from the point of arrest to post-release across agencies: We could have a better understanding of who is cycling through multiple systems and predict who is likely to turn into a super-utilizer.</h3>
              </div>
          </div>
      </section>
      <section id="slide-id" class="b-slide m-imagine m-white">
          <div class="row e-content">
              <div class="large-8 large-centered columns">
                  <h3 class="e-question e-imagine"><strong>Imagine</strong> if we had data that could be responsibly shared among health and criminal justice agencies to ensure that those with mental health disorders could get treatment instead of jail time.</h3>
              </div>
          </div>
      </section>
      <section id="slide-id" class="b-slide m-imagine m-white">
          <div class="row e-content">
            <div class="large-8 large-centered columns">
                <h3 class="e-question e-imagine"><strong>Imagine</strong> if a leading academic data scientist had access to aggregated and anonymous data across multiple jurisdictions, we could have a better understanding of who is convicted of what and when and better predict recidivism.</h3>
            </div>
          </div>
      </section>
  </div>

  {% for  survey in surveys %}
    <div class="b-page-section m-{{survey.abbreviation}}">
      <div class="row">
        <div class="large-5 large-offset-1 columns">
          <h2>{{survey.title}}</h2>
          {% if not survey.is_active %}
            <p class="b-status">Number of Responses: {{survey.qty_responses}}</p>
          {% else %}
            <p class="b-status">In Process</p>
          {% endif %}
          <i class="material-icons m-xl-badge" id="badge-1">{{survey.material_icon}}</i>
        </div>
        <div class="large-5 large-offset-1 columns end">
          <p class='b-description'>{{survey.description}}</p>
          <a class="b-button m-naked" href="{{survey.id}}-{{survey.title | slug}}.html">Find out more<i class="material-icons">arrow_forward</i></a>
        </div>
      </div>
    </div>
  {% endfor %}


</div>
{# <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
<script src="js/lib/scripts.js"></script> #}
{% endblock %}
